{% extends 'baseservice.html.twig' %}

{% block title %}Les services proposer{% endblock %}

{% block body %}
 <!--/ Le bloc affichage de l'image de fond de page  /-->
  <!-- Dans background-image vous pouvez mettre votre photo -->
  <div id="home" class="intro route bg-image" style="background-image: url(/img/SerV-74SD.gif)">
    <div class="overlay-itro"></div> <!-- Fin du bloc DIV Overlay -->
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="intro-title mb-4">74SD-Technologie</h1>
          <p class="intro-subtitle"><span class="text-slider-items">Les services, service client 7/7 24/24, N°crystal 0800 696 696 , Art Design, Copyright ©Mai-2023</span><strong class="text-slider"></strong></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div> <!-- Fin du bloc DIV Container -->
      </div> <!-- Fin du bloc DIV table Cell-->
    </div> <!-- Fin du bloc DIV Intro Content -->
  </div> <!-- Fin DIV id HOME -->
  <!--/ Section Services Star /-->
  <section id="service" class="services-mf route">
    <div class="container">
      <div class="row"> <!-- En-tête du bloc Compétences -->
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
                 A VOTRE SERVICE
            </h3>
            
          </div>
        </div>
      </div>
    </div> 
 <!--/ Section services Star /-->
   <section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Nos Services
            </h3>
            <p class="subtitle-a">
              N°crystal 0800 696 696
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="work-box">
            <a href="{{asset('/img/serv-74SD1.webp')}}" data-lightbox="gallery-mf" title="livraison sur 48H">
              <div class="work-img">
                <img src="{{asset('/img/serv-74SD1.webp')}}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">livraison sur 48H</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Art Design</span> / <span class="w-date">Copyright ©Mai-2023</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="{{asset('/img/serv-74SD2.webp')}}" data-lightbox="gallery-mf" title="Pay-Pal">
              <div class="work-img">
                <img src="{{asset('/img/serv-74SD2.webp')}}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Pay-Pal</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Art Design</span> / <span class="w-date">Copyright ©Mai-2023</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="{{('/img/serv-74SD3.webp')}}" data-lightbox="gallery-mf" title="Retour des produits + remboursements">
              <div class="work-img">
                <img src="{{('/img/serv-74SD3.webp')}}"  alt="" class="img-fluid img3">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Retour des produits + remboursements</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Art Design</span> / <span class="w-date">Copyright ©Mai-2023</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="{{asset('img/serv-74SD4.webp')}}" data-lightbox="gallery-mf" title="Réparation sous 30 jours">
              <div class="work-img">
                <img src="{{asset('img/serv-74SD4.webp')}}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Réparation sous 30 jours</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Art Design</span> / <span class="w-date">Copyright ©Mai-2023</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="{{asset('/img/serv-74SD5.webp')}}" data-lightbox="gallery-mf" title="Garantie +3ans">
              <div class="work-img">
                <img src="{{asset('/img/serv-74SD5.webp')}}" alt="" class="img-fluid img4">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">Garantie +3ans</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Art Design</span> / <span class="w-date">Copyright ©Mai-2023</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="{{('/img/serv-74SD6.webp')}}" data-lightbox="gallery-mf" title="S.A.V + assitances">
              <div class="work-img">
                <img src="{{('/img/serv-74SD6.webp')}}" alt="" class="img-fluid">
              </div>
              <div class="work-content">
                <div class="row">
                  <div class="col-sm-8">
                    <h2 class="w-title">S.A.V + assitances</h2>
                    <div class="w-more">
                      <span class="w-ctegory">Art Design</span> / <span class="w-date">Copyright ©Mai-2023</span>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="w-like">
                      <span class="ion-ios-plus-outline"></span>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        
      </div>
    </div>
  </section>
<!--/ Section Port USB End /-->
<section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(/img/exosquellette-74.gif)">
    <div class="overlay-mf"></div>
{% endblock %}
